body {
	font-family: Roboto, sans-serif;
	background: #2A2D35;
	color: #fff;
}

.form-control {
	background: #494B54;
	color: #fff;
	border: 0;
}
.form-control:hover {
	background: #51535d;
}
.form-control:focus {
	background: #595b66;
	outline: none;
	box-shadow: none;
}

.panel {
	background: #3B3D46;
	padding: 15px;
}


.crosshair {
    position: fixed;
    z-index: 50;

    top: 50%;
    left: 50%;

    text-align: center;
    font-size: 30px;
    line-height: 20px;
    width: 20px;
    height: 20px;

    margin-top: -10px;
    margin-left: -10px;

    user-select: none;
}


/* dark buttons */
.btn.btn-default {
    background: rgba(255, 255, 255, .1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
    border: 0;
    color: #fff;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.active {
	background: rgba(255, 255, 255, .3);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .4);
	outline: none;
	color: #fff;
}
.btn.btn-default:active {
	background: rgba(255, 255, 255, .5);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .6);
	outline: none;
	color: #fff;
}


h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px dashed rgba(255, 255, 255, .3);
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}