@import "colors";

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	color: #fff;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1px 1px;
	grid-template-areas: ". . ."". Login ."". . .";
	height: 100vh;
	background: $body-background;
}

.Login {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;
	gap: 1px 1px;
	grid-area: Login;
	background: $content-background;
	border-radius: $radius;
}



button {
	background: $btn-background;
	border: none;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2); // lighten current bg color by 10%
	color: #fff;
	padding: 8px 16px;
}

button:hover, button:focus {
	background: $btn-background-hover;
}

button:active {
	background: $btn-background-active;
}

label {
	color: #fff;
}

.input {
	background: #494B54;
	padding: 6px 12px;
	height: 34px;
	display: block;
	border-radius: 4px;
	border: none;
	color: #fff;

	&:hover, &:focus {
		background: #51535d;
	}
}
